{% extends "layout.njk" %}

{% block title %} Home page in HTML {% endblock %}

{% block header %}
    <meta charset="utf-8" />
{% endblock %}

{% block content %}
<p>
    Welcome to my 11ty website.
</p>

{% include "footer.njk" %}

{% endblock %}
